/*
-------------------------------------------------
Contact page
-------------------------------------------------
*/

.contact {
  margin-bottom: 6rem;
  ul {
    list-style: none;
    margin-left: 0;
  }
}