/*
-------------------------------------------------
Footer component
-------------------------------------------------
*/

footer {
  background-color: var(--pinkLight);
  min-height: 250px;
  padding: 1.5rem 1rem;

  @media only screen and (min-width: 1160px) {
    min-height: 150px;
    padding: 1.5rem;
  }
}

.footer__fullWidth {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;

  @media only screen and (min-width: 1160px) {
    min-height: 150px;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
  }
}

.footer__nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-left: 0;
}

.footer__nav li {
  margin: 0 1rem;
}

.footer__nav li:last-of-type {
  margin-right: 0;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 1160px) {
    align-items: flex-end;
    justify-content: space-between;
  }
}

.footer__nav {
  text-align: center;
  margin-bottom: 3rem;

  @media only screen and (min-width: 1160px) {
    max-width: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.footer__copyright {
  max-width: 75vw;
  text-align: center;

  @media only screen and (min-width: 1160px) {
    max-width: none;
    text-align: left;
  }
}