/*
-------------------------------------------------
Intro component
-------------------------------------------------
*/

.otherPage .intro {
  display: none;

  @media only screen and (min-width: 600px) {
    display: block;
  }
}

.intro {
max-width: 27rem;
}

.intro h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.intro h2 {
  margin-top: 0;
  margin-bottom: 3rem;
}

.intro p {
  margin-bottom: 3rem;
}

.intro__buttonGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;


  @media only screen and (min-width: 460px) {
  flex-direction: row;
  }
}
