@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@import '/components/navigation';
@import '/components/footer';
@import '/components/intro';
@import '/components/home';
@import '/components/about';
@import '/components/experience';
@import '/components/contact';
@import '/components/quotes';
@import '/components/blog';
@import '/components/footerImage';

body {
  background-color: #fffffe;
  color: var(--textStandard);
  font-family: 'Open Sans', sans-serif;

  /* Colours */
  --textStandard: #2d334a;
  --pinkDark: #f582ae;
  --blueDark: #001858;
  --blueLight: #8bd3dd;
}

.internalBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin: 1rem;

  @media only screen and (min-width: 972px) {
    width: 972px;
    margin: 0 auto;
  }
}

.contentArea {
  margin-bottom: 8rem;
}

h1, h2, h3, h4, p {
  color: #231f20;
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4 {
  font-weight: normal;
}

a {
  color: var(--textStandard);
  text-decoration: underline;

}

a:hover {
  color: var(--blueDark);
  text-decoration: none;
  border-bottom: 2px solid var(--blueLight);
}

.contentArea a,
footer a {
  color: var(--blueDark);
  text-decoration: none;
  border-bottom: 2px solid var(--pinkDark);
  transition: all 0.5s ease;
}

.contentArea a:hover,
footer a:hover {
  color: var(--textStandard);
  border-bottom: 2px solid var(--blueLight);
}

.contentArea .ctaLink {
  font-size: 1.25rem;
  margin-right: 3rem;
}

.contentArea h1 {
  margin-top: 0;
  font-size: 2rem;
}

main.contentArea p {
  font-size: 1rem;
  @media only screen and (min-width: 600px) {
    font-size: 1.125rem;
  }
}

blockquote {
  border-left: 0.32813rem solid var(--pinkLight);
}

.otherPage {
  @media only screen and (max-width: 600px) {
    h2 {
      margin-top: 0;
    }

    .blog__filters {
      margin-top: 1rem;
    }

    .blog__categories {
      margin-bottom: 0;
    }

    h4 {
      margin-bottom: 1rem;
      margin-top: 2.5rem;
      text-transform: none;
    }
  }
}

