
@import '/components/navigation';
@import '/components/footer';

body {
  background-color: lavenderblush;
  color: #231f20;
  font-family: 'Open Sans', sans-serif;

  /* Colours */
  --textStandard: #231f20;
  --pinkLight: #FAD3DB;
  --pinkDark: #FF9CAC;
  --blueDark: #427586;
  --blueLight: #8ECAE4;
  --yellow: #FFFCB5;
}

.internalBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  margin: 2rem;
}

